body {
  margin: 0;
}

.sc-test-suite {
  font-family: Sans-Serif;
}
.sc-test-suite > .se-header {
  padding: 20px;
  color: rgba(255, 255, 255, 0.7);
  background: #3B4749;
}
.sc-test-suite > .se-header > .se-logo {
  color: #fff;
  font-family: Josefin Sans, Sans-Serif;
  font-size: 40px;
  font-weight: 600;
}
.sc-test-suite > .se-toolbar {
  padding: 10px 10px;
  background: #eee;
}
.sc-test-suite > .se-toolbar > * {
  display: inline-block;
}
.sc-test-suite > .se-toolbar > * + * {
  margin-left: 10px;
}
.sc-test-suite > .se-body {
  padding: 10px 0px;
}
.sc-test-suite.sm-hide-successful .sc-test.sm-ok, .sc-test-suite.sm-hide-successful .sc-test.sm-skip {
  display: none;
}
.sc-test-suite.sm-hide-successful .sc-test.sm-not-ok {
  display: block;
}

.sc-test {
  border: solid 1px #ccc;
  position: relative;
  cursor: default;
}
.sc-test.sm-hidden {
  display: none;
}
.sc-test > .se-controls {
  position: absolute;
  right: 10px;
  top: 5px;
}
.sc-test > .se-header {
  padding: 10px 10px;
}
.sc-test > .se-body {
  padding: 10px 20px;
}
.sc-test.sm-ok > .se-header {
  background: rgba(0, 128, 0, 0.4);
}
.sc-test.sm-not-ok > .se-header {
  background: rgba(255, 0, 0, 0.4);
}
.sc-test.sm-skip {
  background: #ddd;
  font-style: italic;
  opacity: 0.5;
}
.sc-test.sm-expanded .se-body {
  display: block;
}

.sc-test-result {
  padding: 5px;
}
.sc-test-result > * + * {
  margin-top: 10px;
}
.sc-test-result .se-status {
  padding: 2px 5px;
}
.sc-test-result .se-status.sm-ok {
  color: green;
}
.sc-test-result .se-status.sm-not-ok {
  background: rgba(255, 0, 0, 0.4);
}
.sc-test-result .se-description {
  padding: 2px 5px;
  margin-left: 10px;
}
.sc-test-result .se-diff {
  background: rgba(255, 0, 0, 0.2);
  padding: 10px 40px;
}
