// Expand symbol
.toolbar .tool.expand::before, .toolbar .tool.truncate::before {
  content: " \f07e";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px;
}

// .toolbar .tool.remove::before {
//   content: " \f00d";
//   font-family: FontAwesome;
//   position: absolute;
//   top: 3px;
//   right: 3px;
//   font-size: 7px;
// }

.toolbar .tool.edit::before {
  content: " \f013";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px;
}

// .toolbar .tool.create::before {
//   content: " \f067";
//   font-family: FontAwesome;
//   position: absolute;
//   top: 3px;
//   right: 3px;
//   font-size: 7px;
// }

// Link tool prompt

.toolbar .tool .prompt {
  position: absolute;
  left: 0px;
  z-index: 50000;
  width: 300px;
  height: 200px;
}

.toolbar .tool.link .prompt input {
  display: block;
  border: 1px solid #ddd;
  width: 200px;
  min-width: auto;
}