// Expand symbol
.toolbar .tool.expand::before, .toolbar .tool.truncate::before {
  content: " \f07e";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px;
}

.toolbar .tool.edit::before {
  content: " \f013";
  font-family: FontAwesome;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 7px;
}

