.content-node.heading {
  padding-bottom: 20px;
  font-weight: 600;
}

.content-node.heading.level-1 {
  font-size: 24px;
  line-height: 28px;
}

.content-node.heading.level-2 {
  font-size: 20px;
}

.content-node.heading.level-3 {
  font-size: 16px;
}
