/* The invisible incredible Clipboard element
-----------------------------------------------------*/

.clipboard {
  position: fixed;
  opacity: 0.0;
  bottom: -1000px;
}

/* Custom selection and cursor
----------------------------------------------------*/

.cursor {
  outline: 1px solid #999;
}

.selection-fragment {
  background-color: #ddd;
}