.sc-menu-item {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  background: none;
  border: none;
  text-align: left;
  line-height: 24px;
  font-size: 11px;
  font-weight: 600;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 0px 5px;
}

.sc-menu-item:hover {
  background: #F7F7F9;
}

.sc-menu-item[disabled=true] {
  opacity: 0.3;
}

.sc-menu-item.sm-active {
  background: #eee;
  color: inherit;
}

.sc-menu-item.sm-active .se-keyboard-shortcut {
  color: rgba(0,0,0,0.4);
}

.sc-menu-item .se-icon {
  flex: 0 0 0;
  padding-right: 7px;
}

.sc-menu-item .se-label {
  flex: 0 0 0;
}

.sc-menu-item .se-keyboard-shortcut {
  flex: 100 0 0;
  font-weight: normal;
  font-size: 10px;
  padding-left: 20px;
  color: rgba(255,255,255,0.4);
  text-align: right;
}
