.sc-toggle-tool {
  position: relative;
}

/* Position tooltip */
.sc-toggle-tool > .sc-tooltip {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
}

.sc-toggle-tool:hover > .sc-tooltip {
  display: block;
}
