.sc-tooltip {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 5px;
  border-radius: 3px;
  /*color: #fff;*/
  font-size: 12px;
  font-size: 12px;
  /*font-weight: 600;*/
  white-space: nowrap;
}
