.sc-text-property { white-space: pre-wrap; }
.sc-text-property .se-cursor { position: relative; }
.sc-text-property .se-cursor .se-cursor-inner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 1px;
  background: #999;
}
