.sc-figure {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;

  .se-label {
    color: #777;
    padding-bottom: 10px;
  }

  .se-title {
    font-size: 20px;
    padding-bottom: 20px;
    // font-weight: 600;
  }

  .se-description {
    padding-top: 20px;
    line-height: 20px;
    font-size: $small-font-size;
  }

  .se-image {
    padding-bottom: 20px;
  }

  img {
    max-width: 100%;
  }

}