.sc-button.sm-theme-light {
  position: relative;
  height: 24px;
  min-width: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.sc-button.sm-theme-light > .se-dropdown {
  padding-left: 5px;
}

.sc-button.sm-theme-light[disabled=true] {
  opacity: 0.4;
  cursor: default;
}

.sc-button.sm-theme-light.sm-active {
  background: var(--active-color);
  color: white;
}

.sc-button.sm-theme-light:hover:not(.sm-active):not([disabled]),
.sc-button.sm-theme-light:focus {
  background: var(--light-bg-color);
  color: var(--text-action-color);
}
