[submodule "vendor/htmlparser2"]
	path = vendor/htmlparser2
	url = https://github.com/substance/htmlparser2.git
	branch = substance
[submodule "vendor/css-select"]
	path = vendor/css-select
	url = https://github.com/substance/css-select.git
	branch = substance
[submodule "vendor/domutils"]
	path = vendor/domutils
	url = https://github.com/substance/domutils.git
	branch = substance
