.sc-modal {
  z-index: 500000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.7);
}
.sc-modal .se-body {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 30px;
  right: 30px;
  top: 30px;
  background: white;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.8);
}
.sc-modal.sm-width-small .se-body { max-width: var(--small-layout-width); }
.sc-modal.sm-width-medium .se-body { max-width: var(--medium-layout-width); }
.sc-modal.sm-width-large .se-body { max-width: var(--large-layout-width); }