/* ScrollPane
-----------------------------------------------------*/
.sc-scroll-pane {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
/* Substance scrollbar active */
/* Make space for Substance Scrollbar on the left side */
.sc-scroll-pane.sm-substance-scrollbar.sm-scrollbar-position-left .se-scrollable {
  left: 20px;
}
/* Patches the scrollbar to stick on the right side */
.sc-scroll-pane.sm-substance-scrollbar.sm-scrollbar-position-right .sc-scrollbar {
  right: 0px; left: auto;
}
.sc-scroll-pane.sm-substance-scrollbar.sm-scrollbar-position-right .sc-scrollbar {
  right: 20px;
}
/* Hide native scroll bar in content panel */
.sc-scroll-pane.sm-substance-scrollbar .se-scrollable::-webkit-scrollbar {
  width: 0px; height: 0px;
}
.sc-scroll-pane.sm-substance-scrollbar .se-scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}
/* Hide native scrollbar in Internet Explorer/Edge */
.sc-scroll-pane.sm-substance-scrollbar .se-scrollable {
  -ms-overflow-style: none;
}
/* Firefox-specific hack for hiding the scrollbar */
.sc-scroll-pane.sm-substance-scrollbar.sm-firefox .se-scrollable {
  margin-right: -15px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Patches the scrollbar to stick on the right side */
.sc-scroll-pane .se-scrollable {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
.sc-scroll-pane .se-content { position: relative; }
/* For debugging purposes
.sc-scroll-pane .se-scanline {
  position: absolute;
  display: none;
  top: 50px;
  left: 40px;
  width: 10px;
  height: 2px;
  background: #ccc;
} */