.sc-tool-group {
  font-size: var(--small-font-size);
  display: inline-block;
}

.sc-tool-group .se-tool {
  line-height: normal;
  display: inline-block;
  position: relative;
}

.sc-tool-group .se-tool button {
  position: relative;
  margin: 5px;
  color: inherit;
  height: 30px;
  min-width: 30px;
  text-align: center;
}

.sc-tool-group .se-tool.sm-active button { background: rgba(0,0,0,0.1); }
.sc-tool-group .se-tool button:hover,
.sc-tool-group .se-toolbutton:focus { background: rgba(0,0,0,0.1); }
.sc-tool-group .se-tool.sm-disabled { opacity: 0.2; cursor: default; }
.sc-tool-group .se-tool.sm-disabled:hover { background: none; }

