.sc-isolated-node {
  position: relative;
}

.sc-isolated-node .se-cursor {
  position: absolute;
  top: 0; bottom: 0;
  width: 1px;
}
.sc-isolated-node > .se-cursor.sm-before {
  left: -5px;
  border-left: 2px solid var(--local-selection-color);
}
.sc-isolated-node > .se-cursor.sm-after {
  right: -5px;
  border-right: 2px solid var(--local-selection-color);
}
.sc-isolated-node.sm-default-style.sm-selected,
.sc-isolated-node.sm-default-style.sm-co-selected {
  /*background: rgba(163,205,253, 0.6);*/
  outline: 2px solid;
  outline-color: var(--local-selection-color);
}
.sc-isolated-node.sm-default-style.sm-focused,
.sc-isolated-node.sm-default-style.sm-co-focused {
  outline: 2px solid;
  outline-color: var(--local-selection-color);
}

/* Hide selection fragments when in selected-state */
.sc-isolated-node.sm-selected ::selection {
  background: transparent;
}

.sc-isolated-node.sm-selected {
  background: rgba(163, 205, 253, 0.3);
  outline: 2px solid #A3CDFD;
}
