.sc-isolated-node {}
.sc-isolated-node > .se-container {
  display: inline-block;
  position: relative;
}
.sc-isolated-node > .se-container > .se-blocker {
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  z-index: 1;
}
.sc-isolated-node > .se-container > .se-cursor {
  position: absolute;
  top: 0; bottom: 0;
  width: 1px;
}
.sc-isolated-node > .se-container > .se-cursor.sm-before {
  left: -5px;
  border-left: 2px solid var(--local-selection-color);
}
.sc-isolated-node > .se-container > .se-cursor.sm-after {
  right: -5px;
  border-right: 2px solid var(--local-selection-color);
}
.sc-isolated-node > .se-container.sm-full-width {
  display: block;
}
.sc-isolated-node > .se-slug {
  /*
    as we found out in a spike, the only cross-browser compatible
    way is to use font-size:1px
  */
  font-size: 1px;
  opacity: 0;
}
.sc-isolated-node.sm-default-style.sm-selected > .se-container,
.sc-isolated-node.sm-default-style.sm-co-selected > .se-container {
  background: rgba(163,205,253, 0.6);
  outline: 2px solid;
  outline-color: var(--local-selection-color);
}
.sc-isolated-node.sm-default-style.sm-focused > .se-container,
.sc-isolated-node.sm-default-style.sm-co-focused > .se-container {
  outline: 2px solid;
  outline-color: var(--local-selection-color);
}
