.sc-prose-editor {


  .sc-container-editor {
    padding: 20px;

    // Add padding to each child except last one
    > * + * {
      padding-top: 20px;
    }
  }

  .sc-prose-editor-toolbar {
    border-bottom: 1px solid $border-color;
  }
}