.sc-prose-editor {}
.sc-prose-editor .sc-container-editor {
  padding:  var(--default-padding);
}
/* Add padding to each child except last one */
.sc-prose-editor .sc-container-editor > * + * {
  padding-top:  var(--default-padding);
}
.sc-prose-editor .sc-toolbar {
  border-bottom: 1px solid  var(--border-color);
}