.sc-prose-editor {

  .sc-container-editor {
    padding: $default-padding;

    // Add padding to each child except last one
    > * + * {
      padding-top: $default-padding;
    }

    // smaller gap between list-items
    .sc-list-item + .sc-list-item {
      padding-top: 0.5 * $default-padding;
    }
  }

  .sc-prose-editor-toolbar {
    border-bottom: 1px solid $border-color;
  }
}