.sc-test-suite {
  padding: 10px 10px;

  > .se-toolbar {
    height: 50px;
  }
}

.sc-test {
  border: solid 1px #ccc;
  position: relative;

  &.sm-hidden {
    display: none;
  }

  > .se-controls {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  > .se-header {
    padding: 10px 10px;
  }

  > .se-body {
    padding: 10px 20px;
    display: none;
  }

  &.sm-ok {
    > .se-header {
      background: rgba(green, 0.4);
    }
  }

  &.sm-skip {
    background: #ddd;
    font-style: italic;
    opacity: 0.5;
  }


  &.sm-expanded {
    .se-body {
      display: block;
    }
  }
}

.sc-test-result {

  padding: 5px 0px;

  &.sm-not-ok {
    background: rgba(red, 0.4);
  }

}