.sc-codeblock {
  font-family: var(--font-family-code);
  font-size: 15px;
}

// Toolbar styles
.sc-switch-text-type .se-option.sm-codeblock {
  font-family: var(--font-family-code);
  font-size: 15px;
}