.sc-codeblock {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 15px;
  padding-bottom: 20px;
}

.sc-switch-text-type .se-option.sm-codeblock {
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 15px;
}