.sc-tool-dropdown {
  position: relative;
}

.sc-tool-dropdown > .se-choices {
  position: absolute;
  top: 30px;
  left: -3px;
}

/* Position tooltip */
.sc-tool-dropdown > .sc-tooltip {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
}

.sc-tool-dropdown:hover > .sc-tooltip {
  display: block;
}
