.sc-toolbar > .se-active-tools {
  display: flex;
  /*flex-wrap: nowrap;*/
  padding: 2px;
}

.sc-toolbar > .se-active-tools .sc-tool-group {
  flex: 0 0 0;
  display: flex;
}

.sc-toolbar > .se-active-tools .sc-tool-group .sc-button {
  flex: 0 0 0;
  margin: 2px;
}

.sc-toolbar > .se-active-tools .sc-tool-dropdown .sc-button {
  margin: 2px;
}

.sc-toolbar .sc-tool-group {
  display: inline-block;
}

.sc-toolbar .sc-tool-group .sc-button {
  margin: 0px 1px;
}
