.sc-class {


  &> .se-description {
    margin-bottom: $node-margin-bottom;
  }

  &> .se-constructor {
    margin-bottom: $node-margin-bottom;
  }

  &> .sc-example {
    margin-bottom: $subsection-margin-bottom;
  }

  margin-bottom: $subsection-margin-bottom;
}