.sc-class {

  &> .sc-heading {
    padding: 10px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
  }

  &> .se-description {
    margin-bottom: 10px;
  }


  &> .se-constructor .se-signature {
  }

  &> .sc-params {
    margin-bottom: 10px;
  }

  margin-bottom: 30px;
}