.sc-example {
  margin-top: var(--node-margin-bottom);
}
.sc-example > .se-heading {
  font-size: var(--font-size-normal);
  font-weight: 600;
  margin-bottom: var(--node-margin-bottom);
}
.sc-example pre {
  margin-bottom: var(--node-margin-bottom);
}