.sc-function {

  &> .sc-heading {
    font-size: $font-size-level-1;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
    margin-bottom: $node-margin-bottom;
  }

  &> .se-api {

    border-left: 3px solid #ddd;
    padding-left: 20px;
    margin-bottom: $node-margin-bottom;

    &> .se-signature {

      font-size: $font-size-level-2;
      font-weight: bold;
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      padding-bottom: 5px;

    }

  }

  margin-bottom: $subsection-margin-bottom;
}
