  .sc-doc-heading {
    font-size: $font-size-level-1;
    position: relative;

    padding-bottom: 10px;
    padding-top: 10px;

    .se-header {
      color: inherit;
    }

    > .se-details {
      padding-bottom: 10px;
      line-height: 15px;
      font-size: $font-size-small;

      &.function .se-type {
        color: #283CE6;
      }

      &.class .se-type {
        color: #BF8418;
      }

      &.module .se-type {
        color: #598859;
      }
    }

    .se-name {
      font-weight: bold;
    }
  }