  .sc-heading {
    font-size: $font-size-level-1;
    position: relative;

    padding-bottom: 10px;
    padding-top: 10px;
    // border-bottom: solid 1px #ccc;
    margin-bottom: $node-margin-bottom;

    .se-name {
      font-weight: bold;
    }

    .se-node-type {
      position: absolute;
      font-size: 13px;
      top: 10px;
      right: 0px;

      color: #888;
      // text-transform: uppercase;
      font-weight: bold;
      padding: 0px 10px;

      &.function {
        color: darkblue;
      }

      &.class {
        color: orange;
      }

      &.module {
        color: darkgreen;
      }
    }
  }