.sc-member-index {
  font-size: $font-size-small;
  .se-label {
    font-weight: $strong-font-weight;
  }
  .se-members {
    margin-bottom: $default-padding / 2;
    a {
      margin-right: $default-padding / 2;
    }
  }
  margin-bottom: $node-margin-bottom;
}