.sc-member-index {
  font-size: var(--font-size-small);
  margin-bottom: var(--node-margin-bottom);
}
.sc-member-index .se-label {
  font-weight: var(--strong-font-weight);
}
.sc-member-index .se-members {
  margin-bottom: var(--default-padding)/2;
}
.sc-member-index .se-members a {
  margin-right: var(--default-padding)/2;
}
