.sc-member-index {
  font-size: $font-size-small;
  .se-label {
    font-weight: bold;
  }
  .se-members {
    margin-bottom: 10px;    
    a {
      padding-right: 10px;
    }
  }
  margin-bottom: $node-margin-bottom;
}