.sc-method {

  // border-left: 1px solid #ddd;
  // padding-left: 20px;

  &> .sc-signature {
    margin-bottom: $node-margin-bottom;
  }

  &> .se-description {
    margin-bottom: $node-margin-bottom;
  }

  margin-bottom: $node-margin-bottom;
}