.sc-method {

  .se-signature {
    // background: #2B303B;
    // background: #eee;
    // color: rgba(255,255,255,0.9);
    padding: 10px 0px;;
    font-size: 13px;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin-bottom: 10px;    
  }

  margin-bottom: 20px;
}