.sc-namespace {

  &> .se-name {
    font-size: 12px;
    color: #777;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }

  &> .se-description {
    padding-bottom: 20px;
  }

  margin-bottom: $section-margin-bottom;
}
