.sc-namespace {

  position: relative;

  > .se-name {
    font-size: $font-size-level-0;
    font-weight: bold;
    margin-bottom: 20px;
  }

  > .se-description {
    padding-bottom: 20px;
  }

  > .se-node-type {
    position: absolute;
    font-size: 13px;
    top: 0px;
    right: 0px;
    color: #888;
    font-weight: bold;
    padding: 0px 10px;
  }

  margin-bottom: $section-margin-bottom;
}
