.sc-params {

  .se-label {
    font-size: $font-size-normal;
    padding-bottom: 10px;
  }

  .se-param {
    font-size: $font-size-normal;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    margin-left: 20px;

    .se-param-name {
      padding-right: 20px;
    }

    .se-param-type {
      padding-right: 20px;
      color: #999;
    }

    .se-param-description p {
      display: inline;
    }
  }
}