.sc-property {
  margin-bottom: var(--node-margin-bottom);
}
.sc-property > .se-declaration {
  font-size: var(--font-size-level-2);
  font-weight: bold;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.sc-property > .se-source {
  padding-bottom: 10px;
  line-height: 15px;
  font-size: var(--font-size-small);
  border-bottom: 1px solid #ddd;
  margin-bottom: var(--node-margin-bottom);
}
.sc-property .se-inherited-from {
  font-size: var(--font-size-small);
}
.sc-property .se-inherited-from .se-label {
  margin-right: 5px;
}
