.sc-property {

  margin-bottom: $node-margin-bottom;

  > .se-declaration {
    font-size: $font-size-level-2;
    font-weight: bold;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }

  > .se-source {
    padding-bottom: 10px;
    line-height: 15px;
    font-size: $font-size-small;
    border-bottom: 1px solid #ddd;
    margin-bottom: $node-margin-bottom;
  }

  .se-inherited-from {
    font-size: $font-size-small;

    .se-label {
      margin-right: 5px;
    }
  }
}
