.sc-property {

  border-left: 1px solid #ddd;
  padding-left: 20px;
  margin-bottom: $node-margin-bottom;

  &> .se-declaration {
    font-size: $font-size-level-2;
    font-weight: bold;
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    padding-bottom: 5px;
    margin-bottom: $element-margin-bottom;

    .se-context {
      color: #333;
      font-weight: normal;
    }
  }

  .se-inherited-from {
    font-size: $font-size-small;

    .se-label {
      margin-right: 5px;
    }
  }
}
