.sc-signature {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.sc-signature > .se-declaration {
  color: inherit;
  font-size: var(--font-size-level-2);
  font-weight: bold;
  font-family: var(--font-family-code);
}
.sc-signature > .se-source {
  padding-bottom: 10px;
  line-height: 15px;
  font-size: var(--font-size-small);
  border-bottom: 1px solid #ddd;
}
.sc-signature .se-inherited-from {
  font-size: var(--font-size-small);
}
.sc-signature .se-inherited-from .se-label {
  margin-right: 5px;
}
