.sc-documentation-toc-panel {
   overflow-y: scroll;

  .toc-entry.level-1 {
    font-size: 16px;
  }

  .toc-entry.level-2 {
    font-size: 14px;
  }

  .toc-entry.level-3 {
    font-size: 12px;
  }
}
