.annotation.link {
  color: #2079DC;
  border-bottom: 1px solid #CEDFF3;
}

// Link tool prompt (also used for Embeds)

.sc-link-tool {

  .se-prompt {
    padding: 15px;
    padding-bottom: 0px;

    background: white;
    @include shadow;
    @include border;
    
    position: absolute;
    left: -150px;
    top: 40px;
    z-index: 50000;
    width: 300px;

    .se-prompt-title {
      font-size: 16px;
      font-weight: bold;
    }

    a.se-delete-link {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 13px;
      color: red;
    }

    input {
      margin: 15px 0;
      width: 100%;
      font-size: 14px;
      display: block;
      border: 1px solid #ddd;

      min-width: auto;
      padding: 0 10px;
    }
  }
}
