$fa-font-path:  "./fonts" !default;
@import "../node_modules/font-awesome/scss/font-awesome";

// Substance base styles
@import '../styles/base/index';

// UI Components used
@import '../styles/components/_controller';
@import '../styles/components/_surface';
@import '../styles/components/_panel';
@import '../styles/components/_content-panel';
@import '../styles/components/_context-toggles';
@import '../styles/components/_toc-panel';
@import '../styles/components/_scrollbar';
@import '../styles/components/_status-bar';
@import '../styles/components/_text-property';

// Nodes
@import '../packages/link/_link';
@import '../packages/embed/_embed';
@import '../packages/table/_table';
@import '../packages/emphasis/_emphasis';
@import '../packages/strong/_strong';

// Components
@import './styles/_variables';
@import './styles/_globals';
@import './styles/components/_namespace';
@import './styles/components/_class';
@import './styles/components/_module';
@import './styles/components/_function';
@import './styles/components/_heading';
@import './styles/components/_method';
@import './styles/components/_property';
@import './styles/components/_event';
@import './styles/components/_signature';
@import './styles/components/_params';
@import './styles/components/_example';
@import './styles/components/_cover';
@import './styles/components/_member-index';

// Code highlighting
@import '../node_modules/highlight.js/styles/github';

pre {
  font-size: $font-size-codeblock;
  font-family: $font-family-code;
  margin-bottom: $node-margin-bottom;
}


body {
  font-size: $font-size-normal;
  overflow: hidden;
}

.sc-documentation-toc-panel {
  top: 0px;
}

.sc-documentation-reader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  // Lens Layout
  .se-workspace {
    position: absolute;
    left: 0px;
    right: 0px;
    overflow: hidden;
    bottom: 0px;
    top: 0px;

    .se-main {
      float: left;
      height: 100%;
      background: #fff;
      position: relative;
      width: 65%;
      .content-panel-component {
        top: 0px;
      }
    }

    // Position content-panel
    .sc-content-panel {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;

      .se-panel-content-inner {
        padding: 40px;
      }
    }

    .se-resource {
      position: relative;
      float: right;
      border-left: 1px solid #ddd;
      height: 100%;
      background-color: #fafafa;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      width: 35%;
    }
  }
}
