$fa-font-path:  "../fonts" !default;
@import "../node_modules/font-awesome/scss/font-awesome";

// Substance base styles
@import '../styles/base/index';

// Substance core and official packages
@import '../styles/components/_all';
@import '../packages/_all';

// DocumentationReader component styles
@import './styles/_variables';
@import './styles/_globals';
@import './styles/components/_namespace';
@import './styles/components/_class';
@import './styles/components/_module';
@import './styles/components/_function';
@import './styles/components/_heading';
@import './styles/components/_method';
@import './styles/components/_property';
@import './styles/components/_event';
@import './styles/components/_signature';
@import './styles/components/_params';
@import './styles/components/_example';
@import './styles/components/_cover';
@import './styles/components/_member-index';

// Code highlighting
@import '../node_modules/highlight.js/styles/github';

pre {
  font-size: $font-size-codeblock;
  font-family: $font-family-code;
  margin-bottom: $node-margin-bottom;
}

body {
  font-size: $font-size-normal;
  overflow: hidden;
}

.sc-documentation-toc-panel {
  top: 0px;
}

.sc-documentation-reader {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  .se-main-section .se-content {
    padding: 40px;
  }

  .se-context-section {
    // border-left: 1px solid #ddd;
    background-color: #fafafa;
    // box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  }
}
