/* Switch Text Type Component
---------------------------- */

.sc-switch-text-type {
  overflow: visible;
  position: relative;
  float: left;
  width: 140px;

  .se-toggle {
    background: white;
    height: 30px;
    padding: 0px 10px;
    line-height: 30px;
    margin: 5px;
    display: block;
    overflow: hidden;
  }

  &:not(.sm-disabled) .se-toggle:after {
    content: " \f0d7";
    padding-left: 10px;
    float: right;
    font-family: FontAwesome;
  }

  &.sm-disabled {
    opacity: 0.4;
    cursor: default;

    &:hover {
      background: none; 
    }
  }

  .se-options {
    display: none;
    position: absolute;
    background: white;
    top: 40px;
    z-index: 5000;
    min-width: 150px;

    @include shadow;
    @include border;

    .se-option {
      display: block;
      padding: 5px 10px;
      
      width:100%; // needed to make buttons render like block elements

      &:hover {
        @include dark-fill(0.05);
      }
    }
  }

  &.sm-open .se-options {
    display: block;
  }
}
