.text-tool-component.select .toggle {
  width: 140px;
}

/* Special styles */
.text-tool-component .option.heading1 {
  font-size: 24px;
  font-weight: 600;
}

.text-tool-component .option.heading2 {
  font-size: 20px;
  font-weight: 600;
}

.text-tool-component .option.heading3 {
  font-size: 16px;
  font-weight: 600;
}