// This is so commonly used that we decided
// to put this into main toolbar styles

.se-tool.sm-annotation-tool {

  .se-mode {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 7px;
  }
}
