.sc-button {
  padding: 0px $default-padding/2;
  text-align: center;
  // min-width: 200px;
  height: 40px;
  color: $link-color;
  // line-height: 30px;

  font-weight: $strong-font-weight;
  display: inline-block;
  border: 2px solid $link-color;

  &:focus {
    outline: 2px solid $focus-outline-color;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}