.sc-button {
  padding: 0px $default-padding;
  text-align: center;
  height: 40px;
  font-size: $small-font-size;
  color: $button-color;

  font-weight: $strong-font-weight;
  display: inline-block;
  border: 1px solid $button-color;
  border-radius: 3px;

  &:focus {
    border-color: $focus-outline-color;
    color: $focus-outline-color;
    outline: none;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}