/* Content Panel
-----------------------------------------------------*/

.content-panel-component {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
}

.content-panel-component .container-node.content {

}

.content-panel-component .panel-content-inner {
  position: relative;
  padding: 40px;
  padding-right: 80px;
}

/* Overrides .panel .panel-content */
.content-panel-component .panel-content {
  left: 20px;
}

/* Hide native scroll bar */
.content-panel-component .panel-content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.content-panel-component .panel-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}