/* Content Panel
-----------------------------------------------------*/

.sc-content-panel {

  .se-panel-content-inner {
    position: relative;
  }

  .se-panel-content {
    left: 20px;
  }

  /* For debugging purposes */
  .se-scanline {
    position: absolute;
    display: none;
    top: 50px;
    left: 40px;
    width: 10px;
    height: 2px;
    background: #ccc;
  }

  /* Hide native scroll bar in content panel */
  .se-panel-content::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .se-panel-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
  }
}



