// See: http://www.sitepoint.com/understanding-css-grid-systems/

.sc-grid {

  // Make sure we use the border box model
  > .se-row, > .se-cell {
    box-sizing: border-box;
  }

  > .se-row:before,
  > .se-row:after {
    content: " ";
    display: table;
  }

  > .se-row:after {
    clear: both;
  }

  // Row styles
  > .se-row {
    // overflow: hidden; // clear floats

    > .se-cell {
      position: relative;
      float: left;

      // scw = single column width
      // m = margin (1.6%)
      // mc = maximum columns (12)
      // cw = column width for a particular column (1-12)
      // scw = (100 – (m * (mc – 1))) / mc
      // cw = (scw * cs) + (m * (cs – 1))
      &.sm-column-1  { float:left; width: 6.86666666667%; }
      &.sm-column-2  { float:left; width: 15.3333333333%; }
      &.sm-column-3  { float:left; width: 23.8%; }
      &.sm-column-4  { float:left; width: 32.2666666667%; }
      &.sm-column-5  { float:left; width: 40.7333333333%; }
      &.sm-column-6  { float:left; width: 49.2%; }
      &.sm-column-7  { float:left; width: 57.6666666667%; }
      &.sm-column-8  { float:left; width: 66.1333333333%; }
      &.sm-column-9  { float:left; width: 74.6%; }
      &.sm-column-10 { float:left; width: 83.0666666667%; }
      &.sm-column-11 { float:left; width: 91.5333333333%; }
      &.sm-column-12 { width:100%; display:block; }
    }

    > .se-cell + .se-cell {
      margin-left: 1.6%;
    }

  }

  // Override for mobile.
  &.sm-mobile {

    > .se-row {

      > .se-cell + .se-cell {
        margin-left: 0;
      }

      > .se-cell {
        float: none;
        width: auto;
      }
    }
  }
}
