.sc-input {
  width: 100%;
  max-width: 500px;
  height: $base-height;
  padding: 0px $default-padding/2;
  line-height: $base-height;
  border: 1px solid $border-color;

  &.short {
    height: $short-height;
  }

  &:focus {
    background: #fff;
    outline: 2px solid $focus-outline-color;
  }

  &.sm-centered {
    text-align: center;
  }
}

