.sc-layout {
  padding: $default-padding;
  padding-top: 2 * $default-padding;

  // By default takes the full width
  width: 100%;

  &.sm-no-padding {
    padding: 0;
  }

  &.sm-type-centered {
    text-align: center;
  }

  // Small sized area
  &.sm-width-small {
    max-width: $small-layout-width;
    margin: 0px auto;
  }

  // Medium sized area, centered
  &.sm-width-medium {
    max-width: $medium-layout-width;
    margin: 0px auto;
  }

  &.sm-width-large {
    max-width: $large-layout-width;
    margin: 0px auto;
  }

  // When used inside layouts paragraphs and headings get some
  // padding by default.
  // 
  // TODO: maybe this should be activated explicitly through a
  // Prose component that turns on the text paddings.
  > p {
    padding-bottom: $default-padding;
  }

  > h1, h2, h3, h4 {
    padding-bottom: $default-padding;
  }
}
