.sc-modal {
  z-index: 500000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.6);

  .se-body {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    right: 30px;

    top: 30px;
    bottom: 30px;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.8);
  }

  // Small sized area
  &.sm-width-small .se-body {
    max-width: $small-layout-width;
  }

  // Medium sized area, centered
  &.sm-width-medium .se-body {
    max-width: $medium-layout-width;
  }

  &.sm-width-large .se-body {
    max-width: $large-layout-width;
  }

}