.sc-prompt {

  .se-arrow {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 8px 4px;
    border-color: transparent transparent #2E2E2C transparent;
  }

  .se-content {
    border-radius: 2px;
    background: #2E2E2C;
    overflow: auto;
    color: rgba(255,255,255, 0.7);

    .se-label {
      float: left;
      padding: 5px;
      padding-left: 10px;
      line-height: 30px;
      font-size: $small-font-size;
    }

    .se-action {
      display: block;
      outline: none;
      float: left;
      height: 40px;
      line-height: 30px;
      text-align: center;
      padding: 5px;
      min-width: 40px;
      color: rgba(255,255,255, 0.7);
      &:hover {
        color: #fff;
      }
    }

    .se-input {
      border: none;
      font-size: $small-font-size;
      background: #2E2E2C;
      color: #fff;
      display: block;
      outline: none;
      float: left;
      height: 40px;
      padding: 5px 10px;
      width: 200px;
    }

    .se-separator {
      float: left;
      width: 1px;
      height: 30px;
      margin: 5px 5px;
      background: rgba(255,255,255, 0.3);
    }
  }
}