/* Panels (Context panel)
-----------------------------------------------------*/

.sc-scroll-pane {

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  line-height: 24px;

  .se-content {
    position: relative;
  }
}