/* Panels (Context panel)
-----------------------------------------------------*/

.sc-scroll-pane {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  // Substance scrollbar active
  &.sm-substance-scrollbar {

    // Make space for Substance Scrollbar on the left side
    &.sm-scrollbar-position-left .se-scrollable {
      left: 20px;
    }

    // Make space for Substance Scrollbar on the right side
    &.sm-scrollbar-position-right .se-scrollable {
      right: 20px;
    }

    // Hide native scroll bar in content panel
    .se-scrollable::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    .se-scrollable::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0);
    }

    // Hide native scrollbar in Internet Explorer/Edge
    .se-scrollable {
      -ms-overflow-style: none;
    }

    // Firefox-specific hack for hiding the scrollbar
    &.sm-firefox .se-scrollable {
      margin-right: -15px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  // The scrollable container element
  .se-scrollable {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    line-height: 24px;
  }

  .se-content {
    position: relative;
  }

  /* For debugging purposes */
  // .se-scanline {
  //   position: absolute;
  //   display: none;
  //   top: 50px;
  //   left: 40px;
  //   width: 10px;
  //   height: 2px;
  //   background: #ccc;
  // }

}