.sc-split-pane {
  display: flex;
  flex-flow: row nowrap;

  // Serves as anchor for absolute positioning for child components
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  &.sm-vertical {
  }

  &.sm-horizontal {
    flex-flow: column nowrap;
  }

  > .se-pane {
    position: realive;

    // This should be fixed according to the configured size (set directly
    // on the element). Size can either be a percentage or px value.
    &.sm-sized {
      position: relative;
      // don't grow, don't shrink, use width or height for size determination
      flex: 0 0 auto;    
    }

    &.sm-auto-fill {
      position: relative;
      // Just grow and take up the rest of the available space
      flex-grow: 1;
    }
  }
}
