/* StatusBar Component
-----------------------------------------------------*/

.status-bar-component {
  border-top: 1px solid #ddd;
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  line-height: 25px;
  font-size: 12px;
}

.status-bar-component.error {
  background: #F4E2E2;
  color: rgb(200, 57, 57);
}

.status-bar-component.success {
  background: #E3EAD6;
  color: rgb(71, 98, 71);
}

.status-bar-component .document-status {
  float: left;
  padding: 0 20px;
}

.status-bar-component .icon {
  float: right;
  padding: 0 20px;
}


.status-bar-component .message {
  float: right;
}