/* This actually happens inside a Surface
----------------------------------------------------*/

.sc-surface {
  /* Non-Editables should have a regular cursor */
  *[contenteditable="false"] {
    cursor: default;
  }
  *[contenteditable="true"] {
    cursor: text;
  }
}

// We want Firefox to have a transparent native selection
::-moz-selection {
  background: rgba(77, 149, 233, 0.46);
}

.sm-selected-node {
  outline: 2px solid;
  outline-color: $local-selection-color;

  &.sm-collaborator-1 { outline-color: $collaborator-color-1; }
  &.sm-collaborator-2 { outline-color: $collaborator-color-2; }
  &.sm-collaborator-3 { outline-color: $collaborator-color-3; }
  &.sm-collaborator-4 { outline-color: $collaborator-color-4; }
  &.sm-collaborator-5 { outline-color: $collaborator-color-5; }
}