.sc-text-property {

  white-space: pre-wrap;

  .se-cursor {
    position: relative;

    .se-cursor-inner {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      width: 1px;
      background: #999;
    }
    
    &.sm-collaborator-1  .se-cursor-inner { background: $collaborator-color-1; }
    &.sm-collaborator-2  .se-cursor-inner { background: $collaborator-color-2; }
    &.sm-collaborator-3  .se-cursor-inner { background: $collaborator-color-3; }
    &.sm-collaborator-4  .se-cursor-inner { background: $collaborator-color-4; }
    &.sm-collaborator-5  .se-cursor-inner { background: $collaborator-color-5; }
    &.sm-collaborator-6  .se-cursor-inner { background: $collaborator-color-6; }
    &.sm-collaborator-7  .se-cursor-inner { background: $collaborator-color-7; }
    &.sm-collaborator-8  .se-cursor-inner { background: $collaborator-color-8; }
    &.sm-collaborator-9  .se-cursor-inner { background: $collaborator-color-9; }
    &.sm-collaborator-10 .se-cursor-inner { background: $collaborator-color-10; }
  }

  .se-selection-fragment {
    background-color: #ddd;
    &.sm-collaborator-1  { background: rgba($collaborator-color-1, 0.30); }
    &.sm-collaborator-2  { background: rgba($collaborator-color-2, 0.30); }
    &.sm-collaborator-3  { background: rgba($collaborator-color-3, 0.30); }
    &.sm-collaborator-4  { background: rgba($collaborator-color-4, 0.30); }
    &.sm-collaborator-5  { background: rgba($collaborator-color-5, 0.30); }
    &.sm-collaborator-6  { background: rgba($collaborator-color-6, 0.30); }
    &.sm-collaborator-7  { background: rgba($collaborator-color-7, 0.30); }
    &.sm-collaborator-8  { background: rgba($collaborator-color-8, 0.30); }
    &.sm-collaborator-9  { background: rgba($collaborator-color-9, 0.30); }
    &.sm-collaborator-10 { background: rgba($collaborator-color-10, 0.30); }
  }

  .se-container-annotation.se-anchor {
    position: relative;
  }

  .sm-highlighted {
    background: #ddd;
  }
}
