.sc-text-property {
  .se-cursor {
    outline: 1px solid #999;
    &.sm-collaborator-1 { outline-color: $collaborator-color-1; }
    &.sm-collaborator-2 { outline-color: $collaborator-color-2; }
    &.sm-collaborator-3 { outline-color: $collaborator-color-3; }
    &.sm-collaborator-4 { outline-color: $collaborator-color-4; }
    &.sm-collaborator-5 { outline-color: $collaborator-color-5; }
  }

  .se-selection-fragment {
    background-color: #ddd;
    &.sm-collaborator-1 { background: $collaborator-color-1-transparent; }
    &.sm-collaborator-2 { background: $collaborator-color-2-transparent; }
    &.sm-collaborator-3 { background: $collaborator-color-3-transparent; }
    &.sm-collaborator-4 { background: $collaborator-color-4-transparent; }
    &.sm-collaborator-5 { background: $collaborator-color-5-transparent; }
  }

  .se-container-annotation.se-anchor {
    position: relative;
  }

  .sm-highlighted {
    background: #ddd;
  }
}
