/* TOC Panel
-----------------------------------------------------*/

.sc-toc-panel {
  .se-toc-entries {
    padding: 20px 0px;

    .se-toc-entry {
      color: #777;
      font-weight: 600;
      letter-spacing: $heading-letterspacing;
      display: block;
      padding: 2px 0px;
      position: relative;
      
      i.fa {
        font-size: 12px;
        visibility: hidden;
        display: inline-block;
        padding-right: 5px;
      }

      &.sm-active {

        i.fa {
          visibility: visible;
        }
        color: #222;
      }

      &:hover {
        color: #222;
      }

      &.sm-level-1 {
        font-size: 16px;
        margin-left: 20px;
      }

      &.sm-level-2 {
        font-size: 14px;
        margin-left: 40px;
      }

      &.sm-level-3 {
        font-size: 12px;
        margin-left: 60px;
      }
    }
  }
}
