.sc-tool-group {
  font-size: $small-font-size;

  display: inline-block;

  .se-tool {
    line-height: normal;

    display: inline-block;
    position: relative;

    button {
      position: relative;
      margin: 5px;
      color: inherit;
      height: 30px;
      min-width: 30px;
      text-align: center;
    }

    &.sm-active button {
      @include dark-fill(0.1);
    }

    button:hover, button:focus {
      @include dark-fill(0.1);
    }

    &.sm-disabled {
      opacity: 0.2;
      cursor: default;

      button:hover {
        background: none;
      }
    }
  }
}

