/* Toolbar
-------------------------------------------------- */

.sc-toolbar {
  font-size: $small-font-size;

  /* Toolbar group
  ---------------------------- */

  .se-toolbar-group {
    display: inline-block;

    .se-tool {
      line-height: normal;

      display: inline-block;
      position: relative;

      button {
        position: relative;
        margin: 5px;
        color: inherit;
        height: 30px;
        min-width: 30px;
        text-align: center;
      }

      &.sm-active button {
        @include dark-fill(0.1);
      }

      button:hover, button:focus {
        @include dark-fill(0.1);
      }

      &.sm-disabled {
        opacity: 0.2;
        cursor: default;

        button:hover {
          background: none;
        }
      }
    }
  }


  /* Toolbar Dropdown
  ---------------------------- */

  .se-toolbar-dropdown {
    overflow: visible;
    position: relative;
    display: inline-block;

    .se-toggle {
      height: 30px;
      padding: 0px 10px;
      line-height: 30px;
      margin: 5px;
      display: block;

      button:focus {
        @include dark-fill(0.1);
      }
    }

    &:not(.sm-disabled) .se-toggle:after {
      content: " \f0d7";
      padding-left: 10px;

      float: right;
      font-family: FontAwesome;
    }

    .se-options {
      display: none;
      position: absolute;
      background: white;
      top: 40px;
      z-index: 5000;
      min-width: 150px;

      @include shadow;
      @include border;

      .se-tool {
        display: block;
        padding: 5px 10px;
        width:100%; // needed to make buttons render like block elements

        &:hover, &:focus {
          @include dark-fill(0.05);
        }

        button:focus {
          @include dark-fill(0.05);
        }

        &.sm-disabled {
          opacity: 0.2;
          cursor: default;

          button:hover {
            background: none;
          }
        }
      }
    }

    &.sm-open .se-options {
      display: block;
    }
  }
}
