/* Table nodes
-----------------------------------------------------*/

.table {
  width: 100%;
  margin: 10px 0px;
  // border: 1px solid #eee;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th, .table td {
  border: 1px solid #efefef;
}

.table th {
  font-weight: bold;
  background: #eee;
  text-align: center;
}

.table td {
  padding: 2px 5px;
}

.table .selected {
  background-color: cyan;
}

.table.table-editing-mode .text-property {
  cursor: default;
}
