.sc-table {
  position: relative;
  margin: 0px 10px 20px 5px;

  > table {
    table-layout: fixed;
    border-collapse: collapse;

    td.se-hspace {
      width: 10px;
    }

    > .se-head {
      > .se-column-controls {
        > .se-column-handle {
          opacity: 0;
          text-align: center;
          font-size: smaller;
          border: 1px solid transparent;
        }
      }
    }

    > .se-body {
      > .se-row {
        > .se-row-handle {
          opacity: 0;
          max-width: 15px;
          text-align: center;
          font-size: smaller;
          vertical-align: middle;
          border: 1px solid transparent;
        }

        > .se-hspace {
          max-width: 15px;
        }

        > .se-cell {
          border: 1px solid #ccc;
          padding: 2px 5px;
        }
      }
    }
  }

  > .se-selection {
    position: absolute;

    &.sm-visible {
      border: 2px solid $local-selection-color;
    }
  }
}

/* make selection invisible inside the table when selected */
.sc-isolated-node.sm-selected > .se-container > .sc-table ::selection {
  background: none;
}

/* show column/row controls only when selected or focused */
.sc-isolated-node.sm-selected > .se-container > .sc-table .se-column-handle,
.sc-isolated-node.sm-focused > .se-container > .sc-table .se-column-handle {
  opacity: 1.0;
}
.sc-isolated-node.sm-selected > .se-container > .sc-table .se-row-handle,
.sc-isolated-node.sm-focused > .se-container > .sc-table .se-row-handle {
  opacity: 1.0;
}

