.sc-context-menu {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  font-size: var(--small-font-size);
  z-index: 1000;
  box-shadow: var(--default-box-shadow);
}

.sc-context-menu.sm-hidden {
  /* we don't use display none because we want to determine the content's width */
  visibility: hidden;
  left: 0px;
  top: 0px;
}

.sc-context-menu > .sc-tool-group {
  min-width: 120px;
  padding: 5px 0;
}

.sc-context-menu > .sc-tool-group:not(:last-child) {
  border-bottom: 1px solid #111;
}
