.sc-overlay { z-index: 200; position: absolute; }
.sc-overlay .sc-tool-group { display: inline-block; }
.sc-overlay .sc-tool-group .sc-button { margin: 0px 1px; }
.sc-overlay.sm-hidden { visibility: hidden; left: 0px; top: 0px; }
.sc-overlay {}

.sc-overlay > .se-active-tools {
  margin: 5px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: var(--default-box-shadow);
}

.sc-overlay > .se-active-tools .sc-tool-group {
  flex: 0 0 0;
  display: flex;
}

.sc-overlay > .se-active-tools .sc-tool-group .sc-button {
  flex: 0 0 0;
  margin: 2px;
}

.sc-overlay > .se-active-tools .sc-tool-dropdown .sc-button {
  margin: 2px;
}
