.sc-overlay { z-index: 200; position: absolute; }

.sc-overlay.sm-hidden { visibility: hidden; left: 0px; top: 0px; }

.sc-overlay.sm-theme-dark {}

.sc-overlay.sm-theme-dark::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 8px 4px;
  border-color: transparent transparent #2E2E2C transparent;
}

.sc-overlay.sm-theme-dark > .se-active-tools {
  border-radius: 5px;
  background: #2E2E2C;
  padding: 5px;
}

.sc-overlay.sm-theme-dark > .se-active-tools > .sc-tool-group {
  display: inline-block;
}

.sc-overlay.sm-theme-dark > .se-active-tools > .sc-tool-group > .se-tool {
  display: inline-block;
}
