/* Inline Elements: Defaults
------------------------------------------------------- */

$h1-font-size: 26px;
$h2-font-size: 22px;
$h3-font-size: 18px;
$h4-font-size: 16px;


body,
input,
textarea {
  color: $default-text-color;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  font-size: $default-font-size;
  min-height: 30px;
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $strong-font-weight;
  margin:0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

// Not recommended to use
h4, h5, h6 {
  font-size: $h4-font-size;
}

.strong,
strong {
  font-weight:$strong-font-weight;
}

.emphasis, em { font-style: italic; }

/* Links */
a {
  color:#2079DC;
  text-decoration:none; 

  &.active, &:hover {
    color:#63b6e5;
  }

  &:focus {
    outline: 2px solid #5BE3FF;  
  }
}

