/* Inline Elements: Defaults
------------------------------------------------------- */

body,
input,
textarea {
  color: $default-text-color;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
  font-size: $default-font-size;
  min-height: 30px;
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $strong-font-weight;
  margin:0;
}

h1 {
  font-size:30px;
  line-height:40px;
}

h2 {
  font-size:30px;
  line-height:30px;
  padding-top:20px;
  padding-bottom:10px;
}

h3 {
  font-size:22px;
  line-height:20px;
  padding-top:10px;
  padding-bottom:10px;
}

h4, h5, h6 {
  font-size:15px;
  line-height:20px;
  padding-bottom:10px;
}

.strong,
strong {
  font-weight:$strong-font-weight;
}

.emphasis, em { font-style: italic; }

/* Links */
a { color:#2079DC; text-decoration:none; }
a.active, a:hover { color:#63b6e5; }

