
/*
  Modal
  TOOD: This should go into a Modal Component
*/

.modal {
  z-index: 500000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.6);

  .body {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.8);


    .header {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      height: 40px;
      border-bottom: 1px solid #ddd;

      .title {
        line-height: 40px;
        font-weight: 600;
        padding-left: 20px;
      }
    }

    .content {
      position: absolute;
      overflow: auto;
      top: 40px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }

  &.medium .body {
    max-width: 800px;
  }

}
