/* Variables
-------------------------------------------------- */
 
$border-color: #ddd;

$fill-gray-color: #eee;
$fill-light-color: #f8f8f8;
$fill-white-color: #fff;
$fill-dark-color: #404040;

$default-padding: 20px;
$small-font-size: 14px;
$large-font-size: 20px;

$highlight-color-1: #0b9dd9;
$highlight-color-2: #91bb04;
$heading-letterspacing: -0.5px;

// code-font
$font-family-code: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$font-size-code: 14px;

// Collaborator colors
$collaborator-color-1: #7ED321;
$collaborator-color-2: #E24A99;
$collaborator-color-3: #E3710C;
$collaborator-color-4: #50E3C2;
$collaborator-color-5: #EC2B2B;

// Slightly more transparent edition
$collaborator-color-1-transparent: #CCEEA8;
$collaborator-color-2-transparent: #F4B8D7;
$collaborator-color-3-transparent: #F4C79F;
$collaborator-color-4-transparent: #BAF4E7;
$collaborator-color-5-transparent: #F8ACAC;