/* Variables
-------------------------------------------------- */

// Colors
$border-color: #ddd;

$fill-gray-color: #eee;
$fill-light-color: #f8f8f8;
$fill-white-color: #fff;
$fill-dark-color: #404040;

// Font colors
$default-text-color: rgba(0,0,0,0.75);
$light-text-color: rgba(0,0,0,.5);

// Default padding
$default-padding: 20px;

// Font sizes
$default-font-size: 16px;
$small-font-size: 14px;
$large-font-size: 20px;
$xlarge-font-size: 25px;

$strong-font-weight: 600;

$highlight-color-1: #0b9dd9;
$highlight-color-2: #91bb04;
$heading-letterspacing: -0.5px;

// code-font
$font-family-code: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$font-size-code: 14px;

// Collaborator colors
$collaborator-color-1: #A4E57A;
$collaborator-color-2: #BC90FF;
$collaborator-color-3: #D6BB4C;
$collaborator-color-4: #BAA6A0;
$collaborator-color-5: #7BB5B3;
$collaborator-color-6: #FF7B7B;
$collaborator-color-7: #A0CC00;
$collaborator-color-8: #89CAFF;
$collaborator-color-9: #FF9FBF;
$collaborator-color-10: #FFB533;