/* Variables
-------------------------------------------------- */
 
$border-color: #ddd;

$fill-gray-color: #eee;
$fill-light-color: #f8f8f8;
$fill-white-color: #fff;
$fill-dark-color: #404040;

$default-padding: 20px;
$small-font-size: 14px;
$large-font-size: 20px;

$highlight-color-1: #91bb04;
$highlight-color-2: #0b9dd9;
$heading-letterspacing: -0.5px;

// code-font
$font-family-code: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$font-size-code: 14px;