.sc-find-and-replace-tool {
  background: #fafbfc;
  border-top: 1px solid var(--border-color);
  padding: 5px;
}

.sc-find-and-replace-tool .se-section {
  display: flex;
  flex-wrap: nowrap;
}

.sc-find-and-replace-tool .se-section-item {
  flex: 0 0 100px;
  padding: 5px;
}

.sc-find-and-replace-tool .se-section-item input {
  width: 100%;
  height: 25px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 13px;
  padding: 5px;
}

.sc-find-and-replace-tool button {
  border-radius: 3px;
  border: 1px solid #bbb;
  background: white;
  height: 25px;
}

.sc-find-and-replace-tool .se-section-item button {
  width: 100%;
  border: 1px solid #bbb;
  background: white;
  height: 25px;
}

.sc-find-and-replace-tool .se-section-item.sm-flex {
  flex: 100 0 100px;
}

.sc-find-and-replace-tool .se-status {
  display: flex;
  flex-wrap: wrap;
  line-height: 25px;
}

.sc-find-and-replace-tool .se-status-description {
  flex: 100 0 300px;
  white-space: nowrap;
  padding: 5px;
}

.sc-find-and-replace-tool .se-status-options-description {
  flex: 0 0 200px;
  white-space: nowrap;
  padding: 5px;
}

.sc-find-and-replace-tool .se-status-options {
  flex: 0 0 0px;
  white-space: nowrap;
  padding: 5px;
}

.sc-find-and-replace-tool .se-status-options button {
  margin-left: 3px;
}

.sc-selected-match {
  background-color: #ffbf00;
}

.sc-match {
  outline: 1px solid #ccc;
}
