.sc-find-and-replace-tool {
  background: #fafafa;
  border-top: 1px solid var(--border-color);
  padding: 5px;
}

.sc-find-and-replace-tool .se-section {
  display: flex;
  flex-wrap: nowrap;
}

.sc-find-and-replace-tool .se-section-item {
  flex: 0 0 100px;
  padding: 5px;
}

.sc-find-and-replace-tool .se-section-item input {
  width: 100%;
  height: 25px;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  font-size: 13px;
  padding: 5px;
}

.sc-find-and-replace-tool .se-section-item input:focus,
.sc-find-and-replace-tool .se-section-item button:focus {
  border: 1px solid #50a1ff;
}

.sc-find-and-replace-tool .se-find-input {
  position: relative;
}

.sc-find-and-replace-tool .se-find-input input {
  padding: 5px 30px 5px 5px;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.sc-find-and-replace-tool .se-find-input .se-status-counter {
  cursor: default;
  position: absolute;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  padding: 6px 12px;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  opacity: .5;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.sc-find-and-replace-tool .se-section-item input:focus + .se-status-counter {
  color: #50a1ff;
  opacity: 1;
}

.sc-find-and-replace-tool button {
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  background: white;
  height: 25px;
  font-size: 13px;
  text-align: center;
}

.sc-find-and-replace-tool .se-section-item button {
  width: 100%;
  border: 1px solid #cbcbcb;
  background: white;
  height: 25px;
}

.sc-find-and-replace-tool .se-section-item.sm-flex {
  flex: 100 0 100px;
}

.sc-find-and-replace-tool .se-status {
  display: flex;
  flex-wrap: wrap;
  line-height: 25px;
}

.sc-find-and-replace-tool .se-status-title {
  white-space: nowrap;
  padding: 5px;
}

.sc-find-and-replace-tool .se-status-description {
  color: #939393;
  font-weight: 300;
  white-space: nowrap;
  padding: 5px;
  margin-left: 50px;
}

.sc-find-and-replace-tool .se-status-options-description {
  flex: 0 0 200px;
  white-space: nowrap;
  padding: 5px;
}

.sc-find-and-replace-tool .se-status-options {
  flex: 0 0 0px;
  white-space: nowrap;
  padding: 5px;
}

.sc-find-and-replace-tool .se-status-options button {
  margin-left: 3px;
}

.sc-selected-match {
  background: rgba(42, 140, 255, 0.5);
  outline: 1px solid var(--local-selection-color);
}

.sc-match {
  background: rgba(42, 140, 255, 0.3)
}

