.sc-blockquote {
  border-left: 2px solid #ccc;
  font-family: Georgia;
  padding-left: 30px;
  font-size: 20px;
  margin-bottom: 20px;
}

.sc-switch-text-type .se-option.sm-blockquote {
  border-left: 2px solid #ccc;
  padding-left: 30px;
}