.sc-inline-node {
  cursor: default;
  /* webkit disables selection for draggable elements */
  -webkit-user-select: text;
  position: relative;
}

.sc-inline-node > .se-blocker {
  cursor: default;
  position: absolute; left:0;
}
