.sc-tabbed-pane { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.sc-tabbed-pane .se-tabs { height: 40px; border-bottom: 1px solid #ddd; }
.sc-tabbed-pane .se-tabs .se-tab {
  font-family: 'Avenir Next', Helvetica;
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  font-weight: 600;
}
.sc-tabbed-pane .se-tabs .se-tab:hover .label { border-bottom: 1px solid rgba(0, 0, 0, 0.75); }
.sc-tabbed-pane .se-tabs .se-tab.sm-active .label { border-bottom: 1px solid rgba(0, 0, 0, 0.75); }
.sc-tabbed-pane .se-tab-content { position: absolute; top: 40px; left: 0px; right: 0px; bottom: 0px; }
