.sc-heading {
  padding-bottom: 20px;
  font-weight: 600;
  letter-spacing: $heading-letterspacing;
}

.sc-heading.sm-level-1 {
  font-size: 24px;
  line-height: 28px;
}

.sc-heading.sm-level-2 {
  font-size: 20px;
}

.sc-heading.sm-level-3 {
  font-size: 16px;
}
