.sc-heading {
  font-weight: var(--strong-font-weight);
  letter-spacing: var(--heading-letterspacing);
}

.sc-heading.sm-level-1 {
  font-size: var(--h1-font-size);
}

.sc-heading.sm-level-2 {
  font-size: var(--h2-font-size);
}

.sc-heading.sm-level-3 {
  font-size: var(--h3-font-size);
}

.sc-heading.sm-level-4 {
  font-size: var(--h4-font-size);
}

/* Overrides for SwitchTextType tool */
.sc-switch-text-type .se-option.sm-heading1 {
  font-size:  var(--h1-font-size);
  font-weight:  var(--strong-font-weight);
}

.sc-switch-text-type .se-option.sm-heading2 {
  font-size: var(--h2-font-size);
  font-weight: var(--strong-font-weight);
}

.sc-switch-text-type .se-option.sm-heading3 {
  font-size: var(--h3-font-size);
  font-weight: var(--strong-font-weight);
}

.sc-switch-text-type .se-option.sm-heading4 {
  font-size: var(--h4-font-size);
  font-weight: var(--strong-font-weight);
}